* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

body {
    /* background: #ef4923; */
    background-color: #fff;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    background-color: none;
    /* background-color: #0b51c2; */
    color: #fff;
    font-weight: bold;
    border-radius: 0.25rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.hero {
    background-color: #1f2937;
    padding: 0rem 9%;
    padding-top: 1rem;
    padding-bottom: 7rem;
}

.hero .header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.hero .header-1 a {
    font-size: 1.7rem;
    color: #f9faf8;
    font-weight: bold;
}

.hero .header-1 nav a {
    font-size: 1.5rem;
    color: #e5e7eb;
    padding-right: 2rem;
}

.hero .header-1 nav a:hover {
    color: #ef4923; 
}

.hero .header-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 0 2rem;
    padding-top: 6rem;
}

.hero .header-2 .content {
    flex: 1 1 40rem;
}

.hero .header-2 .content h1 {
    font-size: 3rem;
    color: #f9faf8;
    font-weight: bolder;
    line-height: 1rem;
    padding-bottom: 2rem;
}

.hero .header-2 .content p {
    font-size: 1.125rem;
    color: #e5e7eb;
    line-height: 1rem;
}

.hero .header-2 .content button {
    cursor: pointer;
    background-color: #1868e7;
}

.hero .header-2 .content button:hover {
   background-color: #ef4923; 
}

.hero .header-2 .image {
    flex: 1 1 40rem;
}

.hero .header-2 .image img {
    height: 25rem;
    width: 60rem;
    object-fit: cover;
    padding-right: 2rem;
}

.product {
    padding: 5rem 9%;
}

.product h2 {
    text-align: center;
    font-size: 3.5rem;
    color: #000;
    padding: 2rem 0;
}

.product h2 span {
    color: #ef4923;
}

.product .item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
    width: 90rem;
    padding-left: 6rem;
    margin: auto;
}

.product .item-container .item {
    text-align: center;
}
.product .item-container .item  img {
    height: 20rem;
    width: 100%;
    border: 0.1rem solid #388;
    border-radius: 0.3rem;
}

.product .item-container .item span {
    font-size: 1.7rem;
    color: #222;
    padding: 3rem 0;
}

.product .item-container .item h3 {
    font-size: 1.7rem;
    color: #666;
}

.quote {
    background-color: rgb(230, 222, 222);
    padding: 5rem 9%;
}

.quote div {
   width: 81rem;
   margin: auto;
   padding: 3rem 1rem;
   text-align: justify;
}

.quote div q {
    font-size: 1.7rem;
    color: #1f2937;
    font-style: italic;
    line-height: 2.5rem;
    padding: 2rem 0;
}

.quote div h3 {
    font-size: 1.7rem;
    color: #222;
    font-weight: lighter;
    padding-top: 2rem;
    text-align: right;
}

.sign-up {
    background-color: #fff;
    padding: 5rem 9%;
}

.sign-up .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 107rem;
    padding: 2rem;
    padding: 2rem 7rem;
    background-color: #1868e7;
    border-radius: 0.35rem;
    margin: auto;
}

.sign-up .box-container .box {
    padding: 2rem 5rem;
}

.sign-up .box-container .box h2 {
    font-size: 1.7rem;
    color: #f9faf8;
    
}

.sign-up .box-container .box p {
    font-size: 1.5rem;
    color: #f9faf8;
    line-height: 0.8rem;
    padding: 1rem 0;
}

.sign-up .box-container .btn {
    font-size: 1.5rem;
    color: #f9faf8;
    line-height: 1rem;
    padding: 1rem 2rem;
    background-color: #1868e7;
    margin-right: 7rem;
    border: 0.05rem solid #fff;
}

.sign-up .box-container .btn:hover {
    background-color: #ef4923; 
 }


.footer {
    background-color: #1f2937;
    padding: 0rem 9%;
    padding-top: 2rem;
    padding-bottom: 2rem; 
}

.footer div {
    font-size: 1.5rem;
    color: #f9faf8;
    line-height: 1rem;
    text-align: center;
}

